/**, *::before, *::after {
    box-sizing: border-box;
}*/

body {
    font-family: roboto, sans-serif;
    height: 100vh;
}

.hero,
.main,
.quote,
.footer {
    padding: 0px 300px;
}

.hero {
    background: #1f2937;
    align-items: flex-start;
    color: #f9faf8;
/* erase height is necessary*/
    height: 50vh;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.secondary-text,
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.awesome {
    margin: 50px auto;
}
#hero-text {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

button {
    width: 80px;
    height: 30px;
}